{% extends "base.html" %}
{% block title %}Image | {{ image.id }}{% endblock %}
{% block external %}{% endblock %}
{% block content %}
    {% if not image %}
        This image is set to be private.
        You must be friend with <a href="/user/{{ image.uploader }}">{{ image.uploader }}</a> to view this image
    {% else %}
        <div class="navbar-inner-background">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <div class="media_object">
                            <li ><a href=""><b>Image Information</b></a></li>
                            <li class="divider"></li>
                            <h3>
                                {% with media_object=image%}
                                    {% with media_object_type="image" %}
                                        {% include "Media_object/media_object_detail_info.html" %}
                                    {% endwith %}
                                {% endwith %}
                            </h3>
                        </div>
                    </div>
                    <br><br>


                </div>
                <!--/span-->

                <div class="span7">


                    <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
                        <div class="modal-body">
                            <h2> {{ image.title }}</h2>
                        </div>
                        <div class="modal-footer">
                            {% if image.image_file %}
                                <a href="{{ image.image_file.url }}"> <img src="{{ image.image_file.url }}" alt="{{ image.image_file.url }}"/></a>
                            {% else %}
                                <a href="{{ image.url }}"> <img src="{{ image.url }}" alt="{{ image.url }}"/></a>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <!--/span-->

                <div class="span2">
                    <div class="well sidebar-nav">

                        <h3>Viewers</h3>
                        {% for viewer in image.viewers.all %}
                            <a href="/user/{{ viewer.username }}">{{ viewer.username }}</a>
                        {% endfor %}
                        <br/>
                        <h3>Voters</h3>
                        {% for voter in image.voters.all %}
                            <a href="/user/{{ voter.username }}">{{ voter.username }}</a>
                        {% endfor %}
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
            </div>
            <!--/row-->

            <br> <br>
        </div>

    {% endif %}
{% endblock %}