<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type='text/css' href="/site_media/bootstrap/css/bootstrap.css"/>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type='text/css' href="/site_media/bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="/site_media/css/general-v2.css"/>

    <script type="text/javascript" src="/site_media/javascript/jquery.js"></script>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="/site_media/bootstrap/js/bootstrap-collapse.js"></script>
    {% block external %}{% endblock %}

</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="" class="brand" >Cyber Library</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Library <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/books">Books</a></li>
                                <li><a href="/images">Images</a></li>
                                <li><a href="/videos">Videos</a></li>
                            </ul>
                        </li>
                        <li><a href="/forum">Forum</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <form action="" class="navbar-search pull-left">
                        <input type="text" placeholder="Search" class="search-query span3">
                    </form>
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="/user/{{ user.username }}" style="color:#adff2f;"><b>{{ user.username }}</b></a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="">Account<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/{{ user.username }}/friend_requests">Friend Requests</a></li>
                                    <li><a href="/user/{{ user.username }}/notifications">Notifications</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/accounts/logout">Logout</a></li>
                                </ul>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href=""><img class="icon-cog icon-white"/>Setting<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/{{ user.username }}/profile">Change Profile</a></li>
                                    <li><a href="/user/{{ user.username }}/password_change">Change Password</a></li>
                                    <li><a href="/user/{{ user.username }}/profile_image_change">Change Avatar</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="/accounts/login">Login</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div>
{% block content %}{% endblock %}
<div class="well">
    <div id="footer">
        <div id="fixed-width">
            <div id="footer_links">
                <ul>
                    <li class="first"><a href="#">Copyright Statement</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Site
                        Help</a></li>
                    <li class="last"><a href="#">Site Index</a></li>
                </ul>
                <div id="footer-copyright">© 1997–2012 Glory Library Association</div>
            </div>
            <div class="contact">
                <h2><img src="/site_media/img/user_images/edmodo-logo.png"
                         alt="American Library Association" width="192" height="13"></h2>

                <p>144 Xuan Thuy St., Cau giay district, Ha Noi, VN |
                    <span class="skype_pnh_print_container_1332123927">1.800.545.2433</span><span
                            class="skype_pnh_container" dir="ltr" tabindex="-1"><span class="skype_pnh_mark"></span></span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>