**  footer_boot
**------------------------------------------------------------*/
#footer {}
#footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    border-top: 1px solid #f5f5f5;
}

#footer_links {
    float: left;
    text-align: left;
    margin-bottom: 6px;
    clear: both;
}

#footer_links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer_links ul li {
    list-style: none;
    display: inline;
    margin: 0 .5em 0 0;
    padding: 0 .5em 0 0;
    border-right: 1px solid #999;
}

#footer_links ul li.last {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

#footer_links a {
    color: #0F5EA9;
}

#footer .contact {
    float: right;
    text-align: right;
}

#footer h2, #footer p {
    margin: 0;
    padding: 0;
}

#footer .contact p, #footer-copyright {
    color: #555;
}

#footer-copyright {
    clear: both;
}

body.fluid-width .full-width {
    padding-left: 5%;
    padding-right: 5%;
}

body.fixed-width .full-width {
    text-align: center;
    min-width: 800px;
}

body.fixed-width .fixed-width {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

#fixed-width {
    height: 30px;
    width: 800px;
    width: 80%;
    margin-left: 10%;
    background-repeat: no-repeat;
    background-position: center top;
    position: auto;
}
h7-color{
    font-weight: bold;
    color: #35ff00;
    text-rendering: optimizelegibility;
}

#avatar {
    height: 140px;
    width: 140px;
    margin-bottom: 5px;
}

#avatarName {
    color: #444;
    font-weight: bold;
    display: block;
    word-wrap: break-word;
}



#header.iphone #userbox {
    float: right;
    margin: -2px 0 0 10px;
}

#header.iphone #userbox #user-links {
    display: none;
}
#userbox {
    float: right;
    line-height: 20px;
    padding: 7px 0;
}

#userbox a {
    color: #222;
    -moz-transition: color .15s ease-in 0;
    -webkit-transition: color .15s ease-in 0;
}

#userbox a:hover {
    text-decoration: none;
    color: #4183c4;
}
#user {
    float: left;
    font-weight: bold;
    padding: 5px 0;
    text-shadow: 0 1px 0 #fff;
}

#user img {
    float: left;
    margin: 1px 5px 0 0;
    border-radius: 3px;
}

#user .name {
    line-height: 22px;
}

#user-links {
    background: #919191;
    /*background: -moz-linear-gradient(#f1f1f1, #e0e0e0);
    background: -webkit-linear-gradient(#f1f1f1, #e0e0e0);*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')";
    float: left;
    margin: 2px 0 0 20px;
    padding: 0;
    list-style: none;
}

#user-links li {
    position: relative;
    float: left;
    margin: 0 0 0 10px;
}

#user-links a {
    display: block;
    padding: 4px 5px 3px;
}

#user-links li:first-child {
    margin-left: 5px;
}

#user-links li:last-child a {
    padding-right: 5px;
}
#user-links .unread_count {
    position: absolute;
    top: -6px;
    left: 75%;
    float: left;
    margin-left: -7px;
    background: rgba(203, 108, 0, 0.8);
    border-bottom: 1px solid #8f4f07;
    border-radius: 2px;
    padding: 3px 4px;
    line-height: 1;
    font-size: 9px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}
.mini-icon.notifications {
    background-image: url('https://a248.e.akamai.net/assets.github.com/images/modules/header/userbox/icons.png?v2');
    background-position: -32px 0;
}

.mini-icon.notifications:hover {
    background-position: -32px -38px;
}

.mini-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
h1.avatared .tooltipped {
    display: inline-block;
}

.navbar-forum-background {
    margin-left: -10px;
    padding-top: 100px;
    background-color: #f2fff6;

    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333333', endColorstr = '#222222', GradientType = 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}