{{% extends 'User/base_user_page.html' %}
{% block title %}{{ user.username }}|Profile Image Upload{% endblock %}
{% block content %}
    {% if avatar_image %}
        {# <avatar_image src="#" alt="Profile Picture" width="200px" height="200px"/> #}
        {% load thumbnail %}
        <img src="{% thumbnail avatar_image 200x200 crop quality=90 %}"/>
    {% endif %}
    <form method="post" enctype="multipart/form-data"  action=".">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Change Avatar"/>
    </form>
{% endblock %}