{% extends "User/base_user_page.html" %}
{% block title %}{{ user.username }}|Books{% endblock %}
{% block base_user_content %}
    {% if not books.object_list.count %}
        <h3>You haven't uploaded any book</h3>
    {% else %}
        <h3>You have uploaded {{ books.object_list.count }} book(s)</h3>
        {% with books=books.object_list %}
            {% include "Book/base_book.html" %}
        {% endwith %}

        {# -------Phan trang--------- #}
        {% with object_holder=books %}
            {% include "Paginator/paginator.html" %}
        {% endwith %}
        {# -------Het phan trang--------- #}
    {% endif %}
{% endblock %}