{% extends "forum/base_forum.html" %}
{% block title %} Forum {% endblock %}
{% block content %}
    <div id="thread_list">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Topics</td>
                <td>Replies</td>
                <td>Last post</td>
                <td></td>
            </tr>
            </thead>

            {% for thread in threads.object_list %}
                <tr>
                    <td {% if forloop.last %}class="last"{% endif %}>
                        <div class="title"> {{ thread.title }}
                        </div></td>
                    <td {% if forloop.last %}class="last"{% endif %}>{{ thread.num_replies }}</td>
                    <td {% if forloop.last %}class="last"{% endif %}>
                        {{ thread.last_post.short|linebreaksbr }}</td>
                    <td {% if forloop.last %}class="last"{% endif %}>
                        <a class="button" href="/thread/{{ thread.id }}/">View</a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

    {# --------Phan trang------- #}
    {% with object_holder=threads %}
        {% include "Paginator/paginator.html" %}
    {% endwith %}
    {# --------Het phan trang------- #}

    <form method="post" action=".">
        <table>
            {% csrf_token %}
            {{ new_thread_form.as_table }}
        </table>
        <input type="submit" value="New Thread"/>
    </form>

{% endblock %}