{% extends "forum/base_forum.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="title"><h2>{{ title }}</h2></div>
    <div id="post_list">
        {% for post in posts.object_list %}
            <div class="post">
                {{ post.content }}<br />
                by {{ post.creator }} | <span class="date">{{ post.created }}</span> <br /><br />
            </div>
        {% endfor %}
    </div>

    # --------Phan trang------- #}
    {% with object_holder=posts %}
        {% include "Paginator/paginator.html" %}
    {% endwith %}
    {# --------Het phan trang------- #}

    <form method="post" action=".">
        <table>
            {% csrf_token %}
            {{ reply_form.as_table }}
        </table>
        <input type="submit" value="Reply"/>
    </form>
{% endblock %}
